<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <section>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <div class="container text-center">

                    <!-- image on top -->
                    <img style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/'+${contact.image}}" alt="profile_photo">

                    <!-- name of the user -->
                    <h3 class="mt-3" ><span th:text="${contact.name}"></span></h3>

                    <!-- table for content showing -->
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#Id</th>
                            <th scope="col">SMCM2024<span th:text="${contact.cId}"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">Email</th>
                            <td><span th:text="${contact.email}"></span></td>
                            </tr>
                            <tr>
                            <th scope="row">Phone</th>
                            <td><span th:text="${contact.phone}"></span></td>
                            </tr>
                            <tr>
                            <th scope="row">Work</th>
                            <td><span th:text="${contact.work}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- description -->
                    <div class="description">
                        <th:block th:utext="${contact.description}"></th:block>
                    </div>
                    <!-- buttons for deletion and updatation -->
                    <button class="btn btn-danger btn-sm mt-3" th:onclick="'confirmDelete(' + ${contact.cId} + ')'">Delete</button>
                    <!-- <button class="btn btn-success btn-sm mt-3">Update</button> -->
                    <a th:href="@{'/user/updateContact/' + ${contact.cId}}" class="btn btn-success btn-sm mt-3">Update</a>
                </div>
                <a th:href="@{/user/index}" class="btn btn-primary btn-sm mt-3">Back</a>
            </div>
        </div>
    </section>
</body>
</html>