<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Profile</title>
  <style>
    /* Style editable fields for better visibility */
    [contenteditable="true"] {
      border: 1px dashed #aaa;
      padding: 5px;
      min-width: 100px;
      display: inline-block;
    }
  </style>
</head>

<body>
  <section>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <form th:object="${user}" enctype="multipart/form-data" method="POST"
            th:action="@{'/user/update-user/' + ${user.id}}" class="mt-2">

            <!-- Profile Image Editing -->

            <div class="box">
              <img src="/img/contact.png" alt="profile_photo" style="height: 100px; width: 100px" />
              <div class="custom-file">
                <input type="file" name="profileImage" />
              </div>
            </div>

            <!-- First Name -->
            <div class="input-group mt-3" >
              <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </div>
              <input type="text" id="firstName" th:field="*{name}" placeholder="Enter name here" class="form-control"
                required>
            </div>

            <!-- Email -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
              </div>
              <input type="email" id="email" th:field="*{email}" placeholder="Enter email here" class="form-control">
            </div>

            <!-- About -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
              </div>
              <input type="text" id="about" th:field="*{about}" placeholder="About" class="form-control">
            </div>

            <!-- Role -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                </div>
              </div>
              <input type="text" id="role" th:field="*{role}"  class="form-control" disabled>
            </div>

            <!-- Account Active -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <div class="input-group-text mr-3">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
              </div>
              <input type="text" id="id" th:field="*{id}" th:value="'SMCM2024' + *{id}" class="form-control" disabled>
            </div>
            
            <button type="submit" class="btn btn-success btn-sm mt-3">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>